################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetImageLibrary.Core/bin
/NetImageLibrary.Core/obj
/NetImageLibrary.FastFilters/bin
/NetImageLibrary.FastFilters/obj
/TestAppNet461/bin
/TestAppNet461/obj
/TestAppNet461/output/*.jpg
/TestAppNet461/output/*.png
/TestAppNetCore/bin
/TestAppNetCore/obj
/TestAppNetCore/output/*.jpg
/TestAppNetCore/output/*.png
/.nuget
/.vs
*.bat
*.suo
*.user
*.nuspec
*.fsx
